<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Votre Mot de Passe a été réinitialisé</title>
</head>
<body style="background-color: white; color: black">
    <h2>Mot de passe temporaire</h2>
    <p th:text="|Bonjour ${fullname}|">Bonjour</p>
    <p>
        Voici votre nouveau mot de passe temporaire :
        <strong th:text="${password}">password</strong>
    </p>
    <p>Équipe Ghost-Team</p>
</body>
</html>