<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Votre Mot de Passe a été réinitialisé</title>
</head>
<body style="background-color: white; color: black">
    <h2>Mot de passe temporaire</h2>
    <p th:text="|Bonjour ${fullname}|">Bonjour</p>
    <p>
        Voici votre nouveau mot de passe temporaire :
        <strong th:text="${password}">password</strong>
    </p>
    <p>Vous pouvez vous rendre sur le <b><a href="https://angulart.xyz" target="_blank">site</a></b> pour créer un nouveau mot de passe</p>
    <img src="https://image.freepik.com/vecteurs-libre/logo-salon-coiffure-retro_23-2148420012.jpg" width="100px"  alt="logo"/>
    <hr width="10%" align="left">
    <p>Équipe angulart / Ghost-team <br>
        <a href="mailto:equipe-technique@angulart.xyz">Equipe-technique</a> -
        Trois-Rivières, Canada
    </p>
</body>
</html>