<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to angulart</title>
</head>
<body>
    <h4 th:text="|Bonjour ${fullname}|">Bonjour</h4>
    <span style="margin-left: 5%; border-bottom: 1px solid #000; padding-bottom: 5px">Bienvenue dans la grande équipe <b>angulart</b> !</span>
    <p style="margin-left:7.5%">
        <img src="https://image.freepik.com/vecteurs-libre/logo-salon-coiffure-retro_23-2148420012.jpg" width="100px" alt="logo"/>
    </p>
    <p>Notre siège est situé dans la ville de Trois-Rivières, n'hésite pas de nous rendre visite à l'occasion !</p>
    <p>tu peux faire ta réservation de la coiffure à domicile dès maintenant,
        <a href="https://angulart.xyz" target="_blank">cliquez-ici</a></p>
    <span style="border-bottom: 1px solid #000; padding-bottom: 5px">Si vous rencontrez un soucis avec le site, vous pouvez directement nous écrire.</span>
    <p>Équipe angulart / Ghost-team <br>
        <a href="mailto:equipe-technique@angulart.xyz">Equipe-technique</a> -
        Trois-Rivières, Canada
    </p>
</body>
</html>