<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to angulart</title>
</head>
<body>
    <h4 th:text="|Bonjour ${fullname}|">Bonjour</h4>
    <p style="margin-left: 10%;">Bienvenue dans la grande équipe <b>angulart</b> !</p>
    <hr style="margin-left: 10%; width:35%">
    <p style="margin-left:20%">
        <img src="https://image.freepik.com/vecteurs-libre/logo-salon-coiffure-retro_23-2148420012.jpg" width="100px" alt="logo"/>
    </p>
    <p>Notre siège est situé dans la ville de Trois-Rivières, n'hésite pas de nous rendre visite à l'occasion !</p>
    <p>tu peux faire ta réservation de la coiffure à domicile dès maintenant,
        <a href="https://angulart-1c532.web.app/">cliquez-ici</a></p>
    <p>Si vous rencontrez un soucis avec le site, vous pouvez directement nous écrire.</p>
    <hr align="left" style="width:80%;">
    <p>Équipe angulart / Ghost-team <br>
        <a href="mailto:equipe-technique@angulart.xyz">Equipe-technique</a> -
        Trois-Rivières, Canada
    </p>
</body>
</html>